# About
This notebooks shows how to connect to the database container.

In [1]:
import os
os.chdir("/home/jovyan/work") # project root pattern

import pandas as pd
from sqlalchemy import text # needed to convert str to sql query

from src.utils import get_table, get_connection

## Get a complete Table

If you simply want to fetch a table (a simple SELECT statement) you can use the `get_table()` function as shown below.

In [4]:
df_wins_per_team_per_season = get_table("t_derived_wins_per_team_per_season")
df_wins_per_team_per_season.head()

   index  Season  TeamID  Wins
0      0    1985    1102     5
1      1    1985    1103     9
2      2    1985    1104    21
3      3    1985    1106    10
4      4    1985    1108    19

## Run a custom SQL query

If you want to run a custom SQL query the `get_connection()` function provides the necessary connection string.
Additionally you have to wrap the statement inside of `sqlalchemy.text()` **quoted with single(`'`) quotation marks** as show below.

In [8]:
df_wins_per_team_season_1993 = pd.read_sql(
    sql=text('SELECT * FROM t_derived_wins_per_team_per_season WHERE "Season"=:season;'),
    con=get_connection(), 
    params={"season" : 1993})
df_wins_per_team_season_1993.head()

   index  Season  TeamID  Wins
0   2320    1993    1102     5
1   2321    1993    1103     6
2   2322    1993    1104    16
3   2323    1993    1106    12
4   2324    1993    1108     7