# About
This notebooks shows how to connect to the database container

In [9]:
import os
os.chdir("/home/jovyan/work") # project root pattern

import pandas as pd
from sqlalchemy import text # needed to convert str to sql query

from src.utils import get_connection

In [12]:
pd.read_sql(
    sql=text("SELECT * FROM pg_catalog.pg_tables WHERE schemaname=:schema LIMIT 10;"),
    con=get_connection(), 
    params={"schema" : "public"})

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,t_original_cities,postgres,None,True,False,False,False
1,public,t_original_conference_tourney_games,postgres,None,True,False,False,False
2,public,t_original_conferences,postgres,None,True,False,False,False
3,public,t_original_game_cities,postgres,None,True,False,False,False
4,public,t_original_ncaa_tourney_compact_results,postgres,None,True,False,False,False
5,public,t_original_ncaa_tourney_detailed_results,postgres,None,True,False,False,False
6,public,t_original_ncaa_tourney_seed_round_slots,postgres,None,True,False,False,False
7,public,t_original_ncaa_tourney_seeds,postgres,None,True,False,False,False
8,public,t_original_ncaa_tourney_slots,postgres,None,True,False,False,False
9,public,t_original_players_2010,postgres,None,True,False,False,False