# About
Based on the postgres tables, the following sklearn.Transformer shall be implemented:
- wins/losses reg season (optinally by OT)
- wins/losses historical NCAA (optinally by OT)
- odd calculation (specify columns for $\alpha$ and $\beta$)

In [5]:
import os
os.chdir("/home/jovyan/work")

import pandas as pd

from src.utils import get_table

In [6]:
from src.transformer import WinLossTransformer

In [8]:
df_test = pd.DataFrame([[2014, 1444, 1450], [2014, 1450, 1444]], columns=["season", "team_id", "opponent_id"])
wlt = WinLossTransformer(team_id_a="team_id", team_id_b="opponent_id", split_by_ot=True)
df_transformed = wlt.fit_transform(df_test)
df_transformed

,season,team_id,opponent_id,wins_no_ot_a,wins_ot_a,wins_no_ot_b,wins_ot_b,losses_no_ot_a,losses_ot_a,losses_no_ot_b,losses_ot_b
0,2014,1444,1450,19,3,9,0,8,1,19,2
1,2014,1450,1444,9,0,19,3,19,2,8,1