# About
This notebooks shows how to connect to the database container

In [3]:
import pandas as pd
import sqlalchemy

In [18]:
# create postgres engine
engine = sqlalchemy.create_engine("postgres://postgres@postgres_container:5432")

# build query template
query = sqlalchemy.text("SELECT * FROM pg_catalog.pg_tables WHERE schemaname=:schema;")

# fire query
pd.read_sql(query, con=engine, params={"schema" : "public"})

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,t_original_Cities,postgres,None,True,False,False,False
1,public,t_original_ConferenceTourneyGames,postgres,None,True,False,False,False
2,public,t_original_Conferences,postgres,None,True,False,False,False
3,public,t_original_GameCities,postgres,None,True,False,False,False
4,public,t_original_NCAATourneyCompactResults,postgres,None,True,False,False,False
5,public,t_original_NCAATourneyDetailedResults,postgres,None,True,False,False,False
6,public,t_original_NCAATourneySeedRoundSlots,postgres,None,True,False,False,False
7,public,t_original_NCAATourneySeeds,postgres,None,True,False,False,False
8,public,t_original_NCAATourneySlots,postgres,None,True,False,False,False
9,public,t_original_Players_2010,postgres,None,True,False,False,False
10,public,t_original_Players_2011,postgres,None,True,False,False,False
11,public,t_original_Players_2012,postgres,None,True,False,False,False
12,public,t_original_Players_2013,postgres,None,True,False,False,False
13,public,t_original_Players_2014,postgres,None,True,False,False,False
14,public,t_original_Players_2015,postgres,None,True,False,False,False
15,public,t_original_Players_2016,postgres,None,True,False,False,False
16,public,t_original_Players_2017,postgres,None,True,False,False,False
17,public,t_original_RegularSeasonCompactResults,postgres,None,True,False,False,False