# About
This notebook shows how to combine different feature tables in the database and fetch the derived result

In [1]:
import os
os.chdir("/home/jovyan/work")

import pandas as pd
from sqlalchemy import text

from src.utils import get_connection

In [2]:
df_wins_losses_per_team  = pd.read_sql(
    sql=text("""
    SELECT wins.season, wins.team_id, wins.wins, losses.losses
    FROM t_derived_wins_per_team_per_season wins
    JOIN t_derived_losses_per_team_per_season losses
    ON wins.season = losses.season
    AND wins.team_id = losses.team_id
    """),
    con=get_connection()
)
df_wins_losses_per_team.head()

   season  team_id  wins  losses
0    1985     1102     5      19
1    1985     1103     9      14
2    1985     1104    21       9
3    1985     1106    10      14
4    1985     1108    19       6